<div class='row'>
  <div class='small-6 columns small-centered'>
    <h1>CADBOT Portfolio</h1>
  </div>
  <hr/>
</div>
<div class='row'>
  <div class='small-4 columns'>
    <h2>SUCH DOGE</h2>
    <h2>MUCH MEME</h2>
    <h2>SO PORTFOLIO</h2>
    <h2>WHAT TASTE</h2>
    <h2>HOW ANNOY</h2>
  </div>
  <div class='small-6 columns'>
    <ul class='example-orbit' data-orbit>
      <li><%= image_tag 'https://pbs.twimg.com/profile_images/378800000822867536/3f5a00acf72df93528b6bb7cd0a4fd0c.jpeg',{height: 0.5} %></li>
 <li><%= image_tag 'http://i1.ytimg.com/vi/sd4bqmP_460/maxresdefault.jpg',{height: 0.5} %></li>
  <li><%= image_tag 'http://0.media.dorkly.cvcdn.com/79/63/33f2d1f368e229c7e09baa64804307b4-a-wild-doge-appeared.jpg',{height: 0.5} %></li>
  </div>
  <div class='small-2 columns'>
    <h2>WOW</h2>
  </div>
    <hr/>
</div>